li {
  list-style: none
}

.black-text {
  color: black;
}

.green-text {
  color: green;
}

.white-text {
  color: white;
}

.red-text {
  color: red;
}

.no_padding {
  padding: 0;
}

.bottom-margin-3em {
  margin-bottom: 3em;
}
