<div class="container">
  <h2>Congratulations! You finally completed the <%=@round.deck.name%> deck.</h2>
  <h3>You made <%=@round.guesses.count%> total guesses.</h3>
  <h3>You guessed <%=@round.guessed_correct_on_first_try%> cards correctly on the first try out of <%=@round.cards.count%> cards.</h3>
</div>
