<div class="container">
  <% if @errors %>
    <%@errors.each do |error| %>
      <h4>You were unable to login because:</h4>
      <ul>
        <li><%= error %> </li>
      </ul>
    <% end %>
  <% end %>

  <h1>Please login:</h1>
    <form method="post" action='/login'>
      <label>Username:</label>
      <input type="text" name="user[username]" placeholder="My_Username" size="40"/>
      <label>Password:</label>
      <input type="password" name="user[password]" placeholder="Super Secret Password" size="40"/>
      <input type="submit" value="Login"/>
</div>
