<div class="container">
  <% if @errors %>
      <h4><%= @errors %></h4>
  <% end %>

  <h1>Please login:</h1>
    <form method="post" action='/login'>
      <label>Username:</label><br>
      <input type="text" name="user[username]" placeholder="My_Username" size="40"/><br>
      <label>Password:</label><br>
      <input type="password" name="user[password]" placeholder="Super Secret Password" size="40"/><br><br>
      <input type="submit" value="Login"/>
</div>
