<h1>Would you like to add another question, or are you finished with <%=@deck.name%>?</h1>
<a href="/users/<%=@user.id%>/decks/<%=@deck.id%>/new_card">Add another question</a>
<a href="/users/<%=@user.id%>">I'm done, take me to my profile</a>
