<div class="container">
  <% if @errors %>
    <%@errors.each do |error| %>
      <h4>You were unable to register because:</h4>
      <ul>
        <li><%= error %> </li>
      </ul>
    <% end %>
  <% end %>
  <h1>Please fill out the following information to register with us:</h1>
    <form method="post" action='/register'>
      <label class="display-block">Username:</label>
      <input class="input" type="text" name="user[username]" placeholder="My_Username"/>
      <label class="display-block">Password:</label>
      <input class="input bottom-margin-1em" type="password" name="user[password]" placeholder="Super Secret Password"/>
      <input type="submit" value="Create my account!"/>
</div>
