<div class="container">
  <h1><%= @user.username %>'s Profile Page</h1>
  <h4>You have played x games.</h4>
  <h4>You guess correctly x % of the time.</h4>
  <h4>Your favorite deck to play is x</h4>
  <h4>You have created x number of decks.</h4>

</div>
