<% if @error %>
  <h3 class="red-text"><%= @error %></h3>
<% end %>

<h2>Flashcard Decks</h2>


<ul>
<% @decks.each do |deck| %>
  <li>
    <a href="/rounds/new/<%=deck.id%>"><%= deck.name %></a>
  </li>
<%end%>
</ul>
